$primary: #f08b2c;
$secondary: #e64e93;
$accent-1: #fad63b;
$accent-2: #139c49;
$accent-3: #16bcee;
$accent-4: #80009e;
$accent-5: #1e2a57;
$accent-6: $primary;

$font-family-heading: "Flavors", cursive;
$font-family-body: "Heebo", sans-serif;
