@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Heebo:wght@200;300;400;500&family=Oswald:wght@200;300;400;500&display=swap');

:root {
    --color-primary: #f08b2c;
    --color-secondary: #e64e93;
    --color-accent-1: #fad63b;
    --color-accent-2: #139c49;
    --color-accent-3: #16bcee;
    --color-accent-4: #80009e;
    --color-accent-5: #1e2a57;
    --font-family-heading: 'Flavors', cursive, '';
    --font-family-body: 'Heebo', sans-serif;
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-strong: 500;
    --font-size-h1: 10rem;
    --font-size-h2: 5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2rem;
    --font-size-text: 1.15rem;
    --border-radius: 8px; }

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 348 356'%3E%3Cstyle%3E.st1%7Bfill:%23e64e93%7D.st2%7Bfill:%23fad63b%7D.st3%7Bfill:%23f08b2c%7D%3C/style%3E%3Cg id='Layer_2'%3E%3Cpath class='st1' d='M0 293h348v63H0z'/%3E%3Cpath class='st2' d='M0 168v172h14v-31l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7v-41l13 41h10l6-47 3 44h10v-38l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13v-51l5 36 11-1v-34l2 44 12-1 4-49 4 36 6-1V168z'/%3E%3Cpath class='st3' d='M0 109v172h14v-31l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7v-41l13 41h10l6-47 3 44h10v-38l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13v-51l5 36 11-1v-34l2 44 12-1 4-49 4 36 6-1V109z'/%3E%3Cpath class='st1' d='M0 57v172h14v-31l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7v-41l13 41h10l6-47 3 44h10v-38l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13v-51l5 36 11-1v-34l2 44 12-1 4-49 4 36 6-1V57z'/%3E%3Cpath class='st2' d='M0 0v172h14v-31l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7v-41l13 41h10l6-47 3 44h10v-38l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13v-51l5 36 11-1v-34l2 44 12-1 4-49 4 36 6-1V0z'/%3E%3Cpath class='st3' d='M0 0v115h14V84l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7V83l13 41h10l6-47 3 44h10V83l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13V80l5 36 11-1V81l2 44 12-1 4-49 4 36 6-1V0z'/%3E%3Cpath class='st1' d='M0 0v66h14V35l5 35h9l4-27 4 32h11l8-49v44l12-1 3-40 4 39 12 7V34l13 41h10l6-47 3 44h10V34l6 37 11-30v34l12-3 1-10.5 3-33.5 4 35 9 2 4-36 4 38h10l4-42v50h13l4-41 3 29 12 2 4-36 3 39h6l6-34v48h9l5-50 2 28 9 2 5-25v39l14-25v31h13V31l5 36 11-1V32l2 44 12-1 4-49 4 36 6-1V0z'/%3E%3C/g%3E%3Cg id='Layer_3'%3E%3Cpath class='st2' d='M-48 32l13 9 2-18z'/%3E%3Cpath fill='%23f2f2f2' d='M-48.3 97.8l-17 4.3 9.9 12.4'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 80%;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-text);
}

h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-regular);
    color: white;
    text-shadow: 5px 5px #000;
    text-align: center;
}

.link-github {
    position: relative;
    display: inline-flex;
    padding: 2rem;
    align-items: center;
}

.link-github span {
    position: absolute;
    left: 0;
}

.link-github svg {
    height: 2rem;
    width: 2rem;
}

main .container {
    max-width: 1280px;
    background-color: white;
    padding: 2rem;
    margin: auto;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1280px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    display: flex;
    flex: 1;
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding: 2rem;
    height: 7rem;
}

nav ul li:nth-of-type(1) a {
    background-color: var(--color-primary);
}

nav ul li:nth-of-type(2) a {
    background-color: var(--color-accent-1);
}

nav ul li:nth-of-type(3) a {
    background-color: var(--color-accent-2);
}

nav ul li:nth-of-type(3) a {
    background-color: var(--color-accent-2);
}

nav ul li:nth-of-type(4) a {
    background-color: var(--color-accent-3);
}

nav ul li:nth-of-type(5) a {
    background-color: var(--color-accent-4);
}

nav ul li:nth-of-type(6) a {
    background-color: var(--color-primary);
}